<app-navbar></app-navbar>

<body class="d-flex align-items-start justify-content-center fs-6">
  <section class="container py-4 d-flex flex-column align-items-start">
    <div class="row mb-4 align-items-center w-100">
      <div class="col-12 col-md-3">
        <label for="data" class="fw-bold fs-5">Escolha a data desejada:</label>
      </div>
      <div class="col-12 col-md-3">
        <input type="date" id="data" class="form-control" [(ngModel)]="selectedDate" (change)="onDateChange()"
          [min]="minDate">
      </div>
    </div>

    <div class="table-responsive w-100">
      <table class="table table-hover text-center">
        <thead class="table-light">
          <tr class="fs-5">
            <th scope="col"></th>
            <th scope="col">Data</th>
            <th scope="col">Horário</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of availableTimes; let i = index" (click)="selectRow(time)"
            [class.table-primary]="time === selectedRadioTime">
            <th scope="row">
              <input class="form-check-input selecao-data" type="radio" name="selecao" [value]="time"
                [(ngModel)]="selectedRadioTime">
            </th>
            <td>{{ getFormattedDate(time) }}</td>
            <td>{{ getFormattedTime(time) }}</td>
            <td>Disponível</td>
          </tr>
          <tr *ngIf="availableTimes.length === 0 && selectedDate">
            <td colspan="4" class="text-center">Nenhum horário disponível para a data selecionada ou data inválida.</td>
          </tr>
          <tr *ngIf="!selectedDate">
            <td colspan="4" class="text-center">Selecione uma data para ver os horários disponíveis.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="d-flex justify-content-end w-100">
      <button class="btn btn-primary me-md-2" (click)="agendarHorario()">Agendar</button>
      <button class="btn btn-lg mb-2" (click)="voltar()">Voltar</button>
    </div> -->

    <div class="d-flex justify-content-end align-items-center w-100 mt-4 gap-2">

      <button type="button" class="btn btn-secondary" (click)="voltar()">
        Voltar
      </button>
      
      <button class="btn btn-primary" (click)="agendarHorario()" [disabled]="!selectedRadioTime">
        Agendar
      </button>
      
    </div>
  </section>
</body>